<h1>Eat-Da-Burger!</h1>

<h2 id="toEat">Burgers that need to be eaten:</h2>

<h2 id="devoured">Burgers that have been devoured:</h2>

<h2 id="newBurger">Add a new burger to be eaten:</h2>

<form id="burger-form">
    <input type="text" id="new-burger-name" name="new-burger-name">
    <button type="submit" class="btn newBurger-btn">Add New Burger</button>
</form>