<div class="container">
    <h1 class="header">Eat-Da-Burger!</h1>

    <div class="uneaten">
        <h2>Uneaten bugers:</h2>

        <div>
            {{#each burgers}}
            {{#unless devoured}}
                <p>
                    {{this.burger_name}}
                    <button data-id="{{this.id}}" class="btn devour-btn">Devour it!</button>
                </p>
            {{/unless}}
            {{/each}}
        </div>
    </div>

    <div class="devoured">
        <h2>Devoured burgers:</h2>

        <div>
            {{#each burgers}}
            {{#if devoured}}
                <p>
                    {{this.burger_name}}
                </p>
            {{/if}}
            {{/each}}
        </div>
    </div>

    <div class="new-burger">
        <h2>Add an uneaten burger:</h2>

        <p id="error" class="hidden">* Invalid input! You must enter the name of a burger into the field *</p>

        <form id="addBurger">
            <input type="text" id="burger_name" name="burger_name" placeholder="Enter New Burger">
            <button type="submit" class="btn burger-btn">Add New Burger</button>
        </form>
    </div>
</div>