<h1>Eat-Da-Burger!</h1>

<h2>Burgers that need to be eaten:</h2>

<ul>
    {{#each burgers}}
    <li>
        <p>
            {{this.burger_name}}
            <button data-id="{{this.id}}" class="btn devour-btn">Devour it!</button>
        </p>
    </li>
    {{/each}}
</ul>

<h2>Burgers that have been devoured:</h2>

<h2>Add a new burger to be eaten:</h2>

<form id="addBurger">
    <input type="text" name="burger_name" placeholder="Enter New Burger">
    <button type="submit" class="btn add-burger">Add New Burger</button>
</form>